li a {
    color: white;
}
Body.blog {
    color: white;
    background-image:
        linear-gradient(
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.5)
        ),
        url("images/upper_park_playground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
a {
    color: white;
}
