{% extends "home/base.html" %}

{% load static %}

{% block title %}
Lansbrook Polls
{% endblock %}

{% block headextras %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/css/override.css' %}" >
{% endblock %}

{% block contentheader %}
<h1>Our Neighborhood Polls</h1>
<p>Vote below on topics impacting the neighborhood.</p>
{% endblock %}

{% block content %}
{% if latest_question_list %}
    {% for question in latest_question_list %}
        <article class="style{% cycle '1' '2' '3' '4' '5' '6' %}">
            <span class="image">
                <img src={% static 'polls/images/murtle.jpg' %} alt="" />
            </span>
            <a href="{% url 'polls:detail' question.id %}">
                <h2>{{ question.question_text }}</h2>
                <div class="content">
                    <p>Click here to vote.</p>
                </div>
            </a>
        </article>
    {% endfor %}
{% else %}
    <p>No polls are available.</p>
{% endif %}
{% endblock %}
